.tabularContainer {
  margin-bottom: 1rem;

  & div[class^="multiSelectControl--"],
  & div[class^="formControl"] {
    margin-bottom: 0;
    border: 1px solid #cacaca;
    background-color: #f7f7f7;
  }
}

.tabularHeaderCol {
  composes: tabularHeaderCol from '../../../../../components/common/TableStyleList/TableStyleList.css'; /* stylelint-disable-line value-keyword-case */
  padding: 0 15px;

  &:first-child {
    flex-basis: 30%;
    max-width: 30%;
  }

  &:nth-child(2) {
    flex-basis: 61.66%;
    max-width: 61.66%;
  }
}

.tabularRowOdd,
.tabularRowEven {
  background: rgba(0, 0, 0, 0.1);
}

.tabularRow div[class*="feedbackError"] {
  margin-bottom: 5px;
}

.tabularCol {
  composes: tabularCol from '../../../../../components/common/TableStyleList/TableStyleList.css'; /* stylelint-disable-line value-keyword-case */
  &:first-child {
    flex-basis: 30%;
    max-width: 30%;
  }

  &:nth-child(2) {
    flex-basis: 61.66%;
    max-width: 61.66%;
  }
}

.tabularColFirst {
  composes: tabularColFirst from '../../../../../components/common/TableStyleList/TableStyleList.css'; /* stylelint-disable-line value-keyword-case */
}
