{
  "root": true,
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2017,
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "plugins": [
    "babel",
    "no-only-tests",
    "react-hooks"
  ],
  "extends": "@folio/eslint-config-stripes",
  "env": {
    "jest": true
  },
  "globals": {
    "process": true,
    "Promise": true
  },
  "rules": {
    "arrow-body-style": "off",
    "import/no-extraneous-dependencies": "off",
    "import/no-cycle": 0,
    "jsx-quotes": "off",
    "react/forbid-prop-types": "off",
    "import/prefer-default-export": "off",
    "react-hooks/exhaustive-deps": "off",
    "react-hooks/rules-of-hooks": "error",
    "no-console": "warn",
    "react/jsx-no-useless-fragment": "error",
    "react/prop-types": [
      "error",
      {
        "skipUndeclared": true
      }
    ],
    "react/jsx-first-prop-new-line": [
      "error",
      "multiline"
    ],
    "react/sort-prop-types": [
      "error",
      {
        "requiredFirst": true,
        "callbacksLast": true
      }
    ],
    "react/jsx-sort-props": [
      "error",
      {
        "noSortAlphabetically": true,
        "ignoreCase": true,
        "callbacksLast": true,
        "shorthandFirst": true,
        "reservedFirst": false
      }
    ],
    "react/jsx-max-props-per-line": [
      "error",
      {
        "maximum": 1,
        "when": "always"
      }
    ],
    "react/jsx-one-expression-per-line": [
      "error",
      {
        "allow": "literal"
      }
    ],
    "key-spacing": [
      "error",
      {
        "beforeColon": false
      }
    ],
    "padding-line-between-statements": [
      "error",
      {
        "blankLine": "always",
        "prev": [
          "const",
          "let"
        ],
        "next": "*"
      },
      {
        "blankLine": "any",
        "prev": [
          "const",
          "let"
        ],
        "next": [
          "const",
          "let"
        ]
      },
      {
        "blankLine": "always",
        "prev": "*",
        "next": [
          "return"
        ]
      }
    ],
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1,
        "maxEOF": 0,
        "maxBOF": 0
      }
    ],
    "comma-dangle": [
      "error",
      {
        "arrays": "only-multiline",
        "objects": "only-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "only-multiline"
      }
    ],
    "no-only-tests/no-only-tests": [
      "warn",
      {
        "block": [
          "describe",
          "it"
        ],
        "focus": [
          "only",
          "skip"
        ]
      }
    ]
  }
}
