.tabularHeaderCol {
  composes: tabularHeaderCol from '../../../../components/common/TableStyleList/TableStyleList.css'; /* stylelint-disable-line value-keyword-case */
  padding-bottom: 5px;
}

.tabularRow {
  background: var(--color-fill-table-row-odd);
}

.tabularCol {
  composes: tabularCol from '../../../../components/common/TableStyleList/TableStyleList.css'; /* stylelint-disable-line value-keyword-case */
  display: initial;
}

.tabularColFirst {
  composes: tabularColFirst from '../../../../components/common/TableStyleList/TableStyleList.css'; /* stylelint-disable-line value-keyword-case */
}
