.textareaContainer textarea {
  margin-bottom: 0;
}

.tabularContainer {
  margin-bottom: 1rem;
}

.tabularHeaderCol {
  composes: tabularHeaderCol from '../../../../../components/common/TableStyleList/TableStyleList.css'; /* stylelint-disable-line value-keyword-case */
  display: flex;
  align-items: flex-end;
  padding: 10px 10px 0;
}

.tabularRowOdd {
  composes: tabularRowOdd from '../../../../../components/common/TableStyleList/TableStyleList.css'; /* stylelint-disable-line value-keyword-case */
}

.tabularRowEven {
  composes: tabularRowEven from '../../../../../components/common/TableStyleList/TableStyleList.css'; /* stylelint-disable-line value-keyword-case */
}

.tabularRow div[class^="feedbackError"] {
  margin-bottom: 5px;
}

.tabularCol {
  composes: tabularCol from '../../../../../components/common/TableStyleList/TableStyleList.css'; /* stylelint-disable-line value-keyword-case */
  display: block;
  padding: 10px;
}

.tabularColFirst {
  composes: tabularColFirst from '../../../../../components/common/TableStyleList/TableStyleList.css'; /* stylelint-disable-line value-keyword-case */
}

.customColSmWidth {
  flex-basis: 11.33333333%;
  max-width: 11.33333333%;
  text-align: center;
}

.customColMdWidth {
  flex-basis: 47%;
  max-width: 47%;
}

.selectControl option:disabled {
  background-color: var(--color-fill-disabled);
}
