.tabularContainer {
  margin: 0;
}

.tabularHeaderCol {
  padding: 10px 15px 5px;
  border-bottom: 5px solid var(--primary);
  font-weight: var(--text-weight-bold);
}

.tabularRow:nth-child(2n + 1) {
  background: var(--color-fill-table-row-odd);
}

.tabularRow:nth-child(2n) {
  background: var(--color-fill-table-row-even);
}

.tabularRow div[class^="feedbackError"] {
  margin-bottom: 5px;
}

.tabularCol {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  border-left: 1px solid var(--color-border-p2);
}

.tabularCol:first-child {
  border-left: none;
}
