.tabularRowOdd {
  composes: tabularRowOdd from '../../../../../components/common/TableStyleList/TableStyleList.css'; /* stylelint-disable-line value-keyword-case */
}

.tabularRowEven {
  composes: tabularRowEven from '../../../../../components/common/TableStyleList/TableStyleList.css'; /* stylelint-disable-line value-keyword-case */
}

.tabularCol {
  composes: tabularCol from '../../../../../components/common/TableStyleList/TableStyleList.css'; /* stylelint-disable-line value-keyword-case */
  display: initial;
}

.tabularColFirst {
  composes: tabularColFirst from '../../../../../components/common/TableStyleList/TableStyleList.css'; /* stylelint-disable-line value-keyword-case */
}

.topFieldWrapper {
  margin-bottom: 10px;
}
