.tabularCol {
  composes: tabularCol from '../../../components/common/TableStyleList/TableStyleList.css'; /* stylelint-disable-line value-keyword-case */
  display: block;
  text-align: center;
  padding: 10px;
}

.cursorNone {
  pointer-events: none;
}
